@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row text-center">
    <div class="col">
        <h1>Добро пожаловать</h1>
        <h2>в мой тестовый Razor Pages проект</h2>
    </div>
</div>
<div class="row text-center">
    <div class="col">
        <img src="/images/banner.jpg" class="w-50 img-fluid img-thumbnail" alt="Main picture"/>
    </div>
</div>
