@page
@model RazorPagesGeneral.Pages.NotFoundModel
@{
    ViewData["Title"] = "Not Found";
}

<div class="row">
    <div class="col text-center">
        <img src="~/images/NotFound.png" alt="Page Not Found"/>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <h1>Ресурс не найден</h1>
        <a asp-page="/Employees/Employees" class="btn btn-primary">Вернуться на страницу персонала</a>
    </div>
</div>